<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2025 Olav and Niklas Seyfarth, Contributors <https://github.com/datenschutz-individuell/twofactor_email/blob/main/CONTRIBUTORS.md>
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="bootstrap.php"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd">
    <source>
        <include>
            <directory>../lib</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile="./clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Acceptance">
            <directory>Acceptance</directory>
        </testsuite>
    </testsuites>
</phpunit>
